.search-bar {
    position: fixed;
    background: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    border-right: 2px solid lightgray;
    padding-right: 20px;
}

.title {
    height: 35px;
    margin-left: 20px;
}

.search {
    text-align: center;
    height: 20px;
    width: 180px;
    background: rgb(247, 247, 247);
    border: 1px solid lightgray;
}

.icon {
    margin-left: 10px;
}