.post-container {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

.thumbnail {
    height: 30px;
    width: auto;
    border-radius: 50%;
    margin: 10px;
}

.poster {
    display: flex;
    align-items: center;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    height: 600px;
    width: 600px;
}

.likes {
    font-weight: bold;
    margin: 10px;
}

