.comment {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
    margin-bottom: 10px;

}

.comment .username {
    margin: 10px 5px 10px 0px;
}

.comment .comment-text {
    margin: 10px 5px 10px 0px;
}